<div class="banner" style="
  background-color: rgba(50, 50, 50, 0.9);
  color: white;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 8px 12px;"
>
  <text style="color: white;">
    <%= "Current Versions -> Ruby: #{RUBY_VERSION} ; Rails: #{Rails.version}" %>
  </text>
</div>
